html, body {
  margin: 0;
  body: 0;
}

.mapping {
  display: flex;
  flex-direction: column;

  .maps {
    display: flex;
    flex-direction: row;
  }

  .settings {
    display: flex;
    flex-direction: column;
  }

  .debug {
    display: none;
  }

  .map {
    flex-grow: 2;
  }

  .properties {
    min-width: 480px;
  }
}

polygon {
  fill: white;
  stroke: black;
}

circle {
  fill: red;
}
